@model int

<div class="de-grid gap-2 d-md-block pb-2">
    <button type="submit" class="btn " style="background-color:darkred; color:white" onfocus="false" asp-route-id="@Model"><i class="bi bi-pencil-square"></i> Actualizar </button>
    <a asp-action="Index" class="btn btn-success"><i class="bi bi-arrow-left-square-fill"></i> Regresar </a>
</div>